// UI Theme
// -------------------

// This is the main file that imports all the Less files from the `/styles` directory.

// For more infos about creating themes, check out:
// http://flight-manual.atom.io/hacking-atom/sections/creating-a-theme

@import "styles/ui-variables";

@import "styles/base";
@import "styles/buttons";
@import "styles/editor";
@import "styles/find-and-replace";
@import "styles/git";
@import "styles/key-binding";
@import "styles/lists";
@import "styles/panels";
@import "styles/progress";
@import "styles/sites";
@import "styles/status-bar";
@import "styles/tabs";
@import "styles/text";
@import "styles/tooltips";
@import "styles/tree-view";

// Scrollbar Styling
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: transparent; }
::-webkit-scrollbar-thumb { background-color: hsla(0,0,100%,0.1); }

// Force Input Colors
.input-checkbox:checked, .input-radio:checked, .input-toggle:checked, input[type=range]::-webkit-slider-thumb {
	background-color: @text-color-success;
}

// Force Alert BG Color
.settings-view .alert-info {
	background-color: @base-background-color;
	border: none;
}


// Seamless Project Tree View
.atom-dock-content-wrapper.left .list-inline.tab-bar.inset-panel .tab {
	background: transparent;
	border: none;
}

// File Tabs
.tab {
	.close-icon {
		color: white !imporatant;
		opacity: 0;
		transition: opacity 0.1s ease;
		cursor: pointer !important;
		&:hover {
			color: white !important;
			opacity: 1 !important;
		}
	}
	&.active .close-icon, &:hover .close-icon { opacity: 0.5; }
	&.modified .close-icon { opacity: 1; }
}
